sudo: false
language: java
services:
  - docker
script: mvn clean package
after_success:
  - echo "${GKE_TOKEN}" | base64 -d | docker login -u _json_key --password-stdin "https://${GKE_HOST}"
  - docker build -t "${GKE_HOST}/${GKE_PROJECT}/users:master" .
  - docker push "${GKE_HOST}/${GKE_PROJECT}/users:master"